.auto/workflow-resoil-blog-v13.json
{
  "name": "RESOIL Blog Generator v13 - Homologado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 4
            }
          ]
        }
      },
      "id": "dcce9862-1701-44f7-a774-c438d0c4d4d1",
      "name": "Cada 4 Dias",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        400
      ]
    },
    {
      "parameters": {},
      "id": "dcce9862-1701-44f7-a774-c438d0c4d4d2",
      "name": "Ejecutar Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const servicios = [\n  {\n    id: 1,\n    nombre: \"Guirnaldas LED\",\n    nombreCompleto: \"Guirnaldas LED Profesionales para Eventos\",\n    categoria: \"ILUMINACION\",\n    slug: \"guirnaldas-led-eventos-cdmx\",\n    keywords: [\"renta guirnaldas LED CDMX\", \"guirnaldas para eventos Mexico\", \"luces decorativas bodas\", \"iluminacion eventos CDMX\"],\n    keywordPrincipal: \"renta de guirnaldas LED para eventos en CDMX\",\n    eventos: [\"bodas\", \"XV anos\", \"fiestas en jardin\", \"baby showers\", \"eventos corporativos\"],\n    descripcionCorta: \"Iluminacion decorativa profesional con focos LED tipo Edison\",\n    urlServicio: \"../iluminacion/guirnaldas.html\",\n    serviciosRelacionados: [\n      {nombre: \"Luces Neon Personalizadas\", url: \"../iluminacion/luces-neon.html\"},\n      {nombre: \"Iluminacion Arquitectonica\", url: \"../iluminacion/luces-arquitectonicas.html\"},\n      {nombre: \"Cascadas LED\", url: \"../iluminacion/cascadas-led.html\"},\n      {nombre: \"Ver Todos los Servicios\", url: \"../renta-de-iluminacion.html\"}\n    ],\n    articulosRelacionados: [\n      {titulo: \"Iluminacion para Bodas en Jardin\", url: \"iluminacion-bodas-jardin.html\", categoria: \"ILUMINACION\", extracto: \"Guia completa sobre como iluminar bodas en espacios exteriores con tecnicas profesionales.\"},\n      {titulo: \"Tendencias de Iluminacion para Eventos\", url: \"tendencias-iluminacion-eventos.html\", categoria: \"TENDENCIAS\", extracto: \"Las ultimas tendencias en iluminacion decorativa: LED inteligente, neon y proyeccion de gobos.\"},\n      {titulo: \"Proyector de Gobos Personalizado\", url: \"proyector-gobos-personalizado.html\", categoria: \"ILUMINACION\", extracto: \"Proyecta logos, nombres y disenos personalizados en cualquier superficie de tu evento.\"}\n    ],\n    imagenContexto: \"guirnaldas de luces LED tipo Edison colgando sobre mesas elegantes en una boda al aire libre en un jardin mexicano\"\n  },\n  {\n    id: 2,\n    nombre: \"Luces Neon LED\",\n    nombreCompleto: \"Luces Neon LED Personalizadas para Eventos\",\n    categoria: \"ILUMINACION\",\n    slug: \"luces-neon-personalizadas-eventos\",\n    keywords: [\"luces neon eventos CDMX\", \"letreros neon bodas Mexico\", \"neon LED personalizado\", \"letras luminosas eventos\"],\n    keywordPrincipal: \"luces neon LED personalizadas para eventos en CDMX\",\n    eventos: [\"bodas\", \"XV anos\", \"eventos corporativos\", \"fiestas tematicas\", \"lanzamientos de producto\"],\n    descripcionCorta: \"Letreros y figuras de neon LED personalizados para momentos unicos\",\n    urlServicio: \"../iluminacion/luces-neon.html\",\n    serviciosRelacionados: [\n      {nombre: \"Guirnaldas LED\", url: \"../iluminacion/guirnaldas.html\"},\n      {nombre: \"Iluminacion Arquitectonica\", url: \"../iluminacion/luces-arquitectonicas.html\"},\n      {nombre: \"Proyector de Gobos\", url: \"../iluminacion/proyector-de-gobos.html\"},\n      {nombre: \"Ver Todos los Servicios\", url: \"../renta-de-iluminacion.html\"}\n    ],\n    articulosRelacionados: [\n      {titulo: \"Guirnaldas y Luces Vintage para Eventos\", url: \"guirnaldas-luces-vintage-eventos.html\", categoria: \"ILUMINACION\", extracto: \"Todo sobre renta de guirnaldas vintage: tipos, instalacion y como crear ambientes magicos.\"},\n      {titulo: \"Iluminacion para Bodas en Jardin\", url: \"iluminacion-bodas-jardin.html\", categoria: \"ILUMINACION\", extracto: \"Guia completa sobre como iluminar bodas en espacios exteriores con tecnicas profesionales.\"},\n      {titulo: \"Proyector de Gobos Personalizado\", url: \"proyector-gobos-personalizado.html\", categoria: \"EQUIPOS\", extracto: \"Proyecta logos, nombres y disenos personalizados en cualquier superficie de tu evento.\"}\n    ],\n    imagenContexto: \"letrero de neon LED rosa brillante con texto 'Love' colgado en pared de ladrillo blanco en recepcion de boda elegante\"\n  },\n  {\n    id: 3,\n    nombre: \"Sonido para Bodas\",\n    nombreCompleto: \"Sistema de Sonido Profesional para Bodas\",\n    categoria: \"SONIDO\",\n    slug: \"sonido-profesional-bodas-cdmx\",\n    keywords: [\"renta sonido bodas CDMX\", \"bocinas para boda Mexico\", \"audio profesional bodas\", \"sistema sonido eventos\"],\n    keywordPrincipal: \"renta de sonido profesional para bodas en CDMX\",\n    eventos: [\"bodas civiles\", \"bodas religiosas\", \"recepciones de boda\", \"bodas en jardin\", \"bodas en hacienda\"],\n    descripcionCorta: \"Sistemas de sonido profesional con cobertura uniforme y audio cristalino\",\n    urlServicio: \"../sonido/bocinas-bodas.html\",\n    serviciosRelacionados: [\n      {nombre: \"Sonido para XV Anos\", url: \"../sonido/bocinas-xv-anos.html\"},\n      {nombre: \"Sonido para Fiestas\", url: \"../sonido/bocinas-fiestas.html\"},\n      {nombre: \"Microfonos Inalambricos\", url: \"../sonido/microfonos.html\"},\n      {nombre: \"Ver Todos los Servicios\", url: \"../renta-de-sonido.html\"}\n    ],\n    articulosRelacionados: [\n      {titulo: \"Sonido para Conferencias\", url: \"sonido-conferencias.html\", categoria: \"SONIDO\", extracto: \"Guia completa sobre sistemas de audio para conferencias, congresos y eventos corporativos.\"},\n      {titulo: \"Guirnaldas y Luces Vintage\", url: \"guirnaldas-luces-vintage-eventos.html\", categoria: \"ILUMINACION\", extracto: \"Complementa tu boda con iluminacion decorativa profesional de guirnaldas vintage.\"},\n      {titulo: \"Iluminacion para Bodas en Jardin\", url: \"iluminacion-bodas-jardin.html\", categoria: \"ILUMINACION\", extracto: \"Como iluminar bodas en exteriores con tecnicas profesionales y equipo de calidad.\"}\n    ],\n    imagenContexto: \"sistema de bocinas line array profesionales JBL instaladas discretamente en jardin de hacienda mexicana durante boda elegante al atardecer\"\n  },\n  {\n    id: 4,\n    nombre: \"Humo Bajo\",\n    nombreCompleto: \"Efecto de Humo Bajo para Primer Baile\",\n    categoria: \"EFECTOS ESPECIALES\",\n    slug: \"humo-bajo-primer-baile-bodas\",\n    keywords: [\"humo bajo bodas CDMX\", \"baile en las nubes\", \"efecto humo primer baile\", \"niebla baja eventos\"],\n    keywordPrincipal: \"efecto de humo bajo para primer baile en bodas CDMX\",\n    eventos: [\"bodas\", \"XV anos\", \"eventos especiales\", \"presentaciones\", \"espectaculos\"],\n    descripcionCorta: \"Efecto espectacular de niebla a nivel del suelo para momentos magicos\",\n    urlServicio: \"../equipos/humo-bajo.html\",\n    serviciosRelacionados: [\n      {nombre: \"Maquina de Burbujas\", url: \"../equipos/maquina-de-burbujas.html\"},\n      {nombre: \"Maquina de Confeti\", url: \"../equipos/maquina-de-confeti.html\"},\n      {nombre: \"Maquina de Humo\", url: \"../equipos/maquina-de-humo.html\"},\n      {nombre: \"Ver Todos los Equipos\", url: \"../equipos.html\"}\n    ],\n    articulosRelacionados: [\n      {titulo: \"Guirnaldas y Luces Vintage\", url: \"guirnaldas-luces-vintage-eventos.html\", categoria: \"ILUMINACION\", extracto: \"Complementa el humo bajo con iluminacion vintage para un efecto aun mas espectacular.\"},\n      {titulo: \"Iluminacion para Bodas en Jardin\", url: \"iluminacion-bodas-jardin.html\", categoria: \"ILUMINACION\", extracto: \"Guia completa sobre iluminacion profesional para bodas en espacios exteriores.\"},\n      {titulo: \"Sonido Profesional para Bodas\", url: \"sonido-profesional-bodas-cdmx.html\", categoria: \"SONIDO\", extracto: \"Complementa tu primer baile con audio profesional cristalino y envolvente.\"}\n    ],\n    imagenContexto: \"pareja de novios bailando su primer baile sobre una densa capa de humo bajo blanco que cubre el piso, iluminados por luz dorada suave en salon elegante\"\n  },\n  {\n    id: 5,\n    nombre: \"Bolas Disco\",\n    nombreCompleto: \"Bolas Disco Profesionales para Fiestas\",\n    categoria: \"ILUMINACION FIESTA\",\n    slug: \"bolas-disco-profesionales-fiestas\",\n    keywords: [\"bolas disco CDMX\", \"esfera disco eventos\", \"bola espejos fiesta\", \"iluminacion retro eventos\"],\n    keywordPrincipal: \"renta de bolas disco profesionales para fiestas en CDMX\",\n    eventos: [\"fiestas tematicas\", \"XV anos\", \"bodas\", \"eventos retro\", \"fiestas corporativas\", \"cumpleanos\"],\n    descripcionCorta: \"Clasicas bolas disco con espejos de alta calidad para ambiente festivo\",\n    urlServicio: \"../equipos/bolas-disco.html\",\n    serviciosRelacionados: [\n      {nombre: \"Maquina de Humo\", url: \"../equipos/maquina-de-humo.html\"},\n      {nombre: \"Luces Roboticas\", url: \"../iluminacion/luces-roboticas.html\"},\n      {nombre: \"Sonido para Fiestas\", url: \"../sonido/bocinas-fiestas.html\"},\n      {nombre: \"Ver Todos los Equipos\", url: \"../equipos.html\"}\n    ],\n    articulosRelacionados: [\n      {titulo: \"Guirnaldas y Luces Vintage\", url: \"guirnaldas-luces-vintage-eventos.html\", categoria: \"ILUMINACION\", extracto: \"Combina bolas disco con guirnaldas vintage para un look retro-moderno espectacular.\"},\n      {titulo: \"Tendencias de Iluminacion\", url: \"tendencias-iluminacion-eventos.html\", categoria: \"TENDENCIAS\", extracto: \"Descubre las ultimas tendencias en iluminacion decorativa y efectos para fiestas.\"},\n      {titulo: \"Sonido Profesional para Fiestas\", url: \"sonido-profesional-fiestas.html\", categoria: \"SONIDO\", extracto: \"Complementa la iluminacion con audio profesional para una fiesta inolvidable.\"}\n    ],\n    imagenContexto: \"gran bola disco de espejos girando y reflejando multiples haces de luz en pista de baile llena de gente celebrando en fiesta elegante\"\n  },\n  {\n    id: 6,\n    nombre: \"Maquina de Burbujas\",\n    nombreCompleto: \"Maquina de Burbujas Profesional para Eventos\",\n    categoria: \"EFECTOS ESPECIALES\",\n    slug: \"maquina-burbujas-profesional-eventos\",\n    keywords: [\"maquina burbujas eventos CDMX\", \"burbujas bodas Mexico\", \"efectos especiales eventos\", \"burbujas profesionales fiestas\"],\n    keywordPrincipal: \"renta de maquina de burbujas profesional para eventos en CDMX\",\n    eventos: [\"bodas\", \"XV anos\", \"fiestas infantiles\", \"baby showers\", \"eventos corporativos\", \"lanzamientos\"],\n    descripcionCorta: \"Maquinas de alta produccion que crean miles de burbujas para momentos magicos\",\n    urlServicio: \"../equipos/maquina-de-burbujas.html\",\n    serviciosRelacionados: [\n      {nombre: \"Humo Bajo\", url: \"../equipos/humo-bajo.html\"},\n      {nombre: \"Maquina de Confeti\", url: \"../equipos/maquina-de-confeti.html\"},\n      {nombre: \"Maquina de Humo\", url: \"../equipos/maquina-de-humo.html\"},\n      {nombre: \"Ver Todos los Equipos\", url: \"../equipos.html\"}\n    ],\n    articulosRelacionados: [\n      {titulo: \"Humo Bajo para Primer Baile\", url: \"humo-bajo-primer-baile-bodas.html\", categoria: \"EFECTOS ESPECIALES\", extracto: \"Combina burbujas con humo bajo para un efecto visual doblemente espectacular.\"},\n      {titulo: \"Guirnaldas y Luces Vintage\", url: \"guirnaldas-luces-vintage-eventos.html\", categoria: \"ILUMINACION\", extracto: \"Las burbujas brillan espectacularmente bajo la luz de guirnaldas vintage.\"},\n      {titulo: \"Iluminacion para Bodas\", url: \"iluminacion-bodas-jardin.html\", categoria: \"ILUMINACION\", extracto: \"Guia completa de iluminacion para complementar efectos especiales en bodas.\"}\n    ],\n    imagenContexto: \"cientos de burbujas de jabon flotando sobre pista de baile en boda al aire libre al atardecer con luz dorada atravesandolas\"\n  }\n];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.serviciosUsados) staticData.serviciosUsados = [];\n\nconst idsUsados = staticData.serviciosUsados;\nlet idsDisponibles = servicios.map(s => s.id).filter(id => !idsUsados.includes(id));\n\nif (idsDisponibles.length === 0) {\n  staticData.serviciosUsados = [];\n  idsDisponibles = servicios.map(s => s.id);\n}\n\nconst idSeleccionado = idsDisponibles[Math.floor(Math.random() * idsDisponibles.length)];\nstaticData.serviciosUsados.push(idSeleccionado);\n\nconst servicioSeleccionado = servicios.find(s => s.id === idSeleccionado);\nconst timestamp = Date.now();\n\nreturn [{\n  json: {\n    servicio: servicioSeleccionado,\n    slugFinal: servicioSeleccionado.slug,\n    filename: servicioSeleccionado.slug + '.html',\n    imagenFilename: servicioSeleccionado.slug + '-' + timestamp + '.webp',\n    baseUrl: 'https://rentadesonidoeiluminacion.com.mx',\n    whatsappNumber: '5215578960091',\n    empresa: {\n      nombre: 'RESOIL',\n      nombreCompleto: 'Renta de Sonido e Iluminacion',\n      experiencia: '15+ anos',\n      eventosRealizados: '5,000+',\n      cobertura: 'CDMX y Estado de Mexico',\n      telefono: '+52 55 7896 0091',\n      email: 'contacto@rentadesonidoeiluminacion.com.mx'\n    }\n  }\n}];"
      },
      "id": "50e3b3f6-d1b0-4a58-b6e8-8e64aa6a7b69",
      "name": "Selector Servicio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst s = data.servicio;\nconst e = data.empresa;\n\nconst promptSistema = `Eres un REDACTOR SEO EXPERTO especializado en articulos para blogs de empresas de eventos en Mexico. Escribes contenido profesional, fluido y natural.\n\nREGLAS ABSOLUTAS - NUNCA LAS ROMPAS:\n1. JAMAS menciones precios, costos, tarifas, inversiones o cualquier cantidad monetaria\n2. JAMAS menciones fechas especificas, anos, meses o dias (nada de \"2024\", \"2025\", \"este ano\", \"actualmente\")\n3. El contenido debe ser EVERGREEN (atemporal, valido para siempre)\n4. Usa espanol mexicano profesional y natural\n5. NUNCA uses listas con bullets o numeros - TODO debe ser parrafos fluidos con negritas para puntos clave\n6. Cada parrafo debe tener 3-5 oraciones bien conectadas\n7. Usa el formato: <strong>Punto clave:</strong> seguido de explicacion en el mismo parrafo\n8. SIEMPRE responde UNICAMENTE con JSON valido, sin markdown ni texto adicional\n9. El contenido total debe ser minimo 2500 palabras\n10. Estructura semantica: H1 (solo en hero) > H2 (secciones principales) > H3 (subsecciones)`;\n\nconst promptUsuario = `Genera un articulo SEO PROFESIONAL sobre: \"${s.nombreCompleto}\"\n\nDATOS DEL SERVICIO:\n- Nombre: ${s.nombre}\n- Categoria: ${s.categoria}\n- Keyword Principal: ${s.keywordPrincipal}\n- Keywords Secundarias: ${s.keywords.join(', ')}\n- Descripcion: ${s.descripcionCorta}\n- Tipos de Eventos: ${s.eventos.join(', ')}\n\nEMPRESA:\n- ${e.nombre} (${e.nombreCompleto})\n- Experiencia: ${e.experiencia}\n- Eventos realizados: ${e.eventosRealizados}\n- Cobertura: ${e.cobertura}\n\nESTRUCTURA OBLIGATORIA (sigue el formato del blog RESOIL):\n\nResponde SOLO con este JSON:\n{\n  \"titulo\": \"Titulo SEO 60-70 caracteres con keyword | RESOIL\",\n  \"metaDescription\": \"Meta description 150-160 caracteres, persuasiva, con keyword\",\n  \"metaKeywords\": \"${s.keywords.join(', ')}, RESOIL, eventos CDMX\",\n  \"breadcrumbName\": \"${s.nombre}\",\n  \"heroTitle\": \"Titulo H1 impactante con keyword (50-70 chars)\",\n  \"heroSubtitle\": \"Subtitulo de 2-3 oraciones que expanda el H1 y mencione a ${e.nombre}\",\n  \"introParrafo1\": \"<p class='article-intro'><strong>Oracion inicial impactante con keyword.</strong> Segunda oracion expandiendo el tema. Tercera oracion sobre el beneficio principal. Cuarta oracion conectando con el lector.</p>\",\n  \"introParrafo2\": \"<p>En ${e.nombre}, con mas de ${e.experiencia} especializandonos en [servicio], hemos equipado ${e.eventosRealizados} eventos exitosos. [Continua con 2-3 oraciones sobre la experiencia y lo que el lector aprendera en esta guia].</p>\",\n  \"secciones\": [\n    {\n      \"h2\": \"Que son las/los [Servicio] para Eventos?\",\n      \"contenido\": \"<p>Parrafo 1 con definicion y contexto (4-5 oraciones).</p><p>Parrafo 2 expandiendo con detalles tecnicos (4-5 oraciones).</p>\",\n      \"subsecciones\": [\n        {\n          \"h3\": \"Componentes de un Sistema Profesional\",\n          \"contenido\": \"<p><strong>Componente 1:</strong> Descripcion completa del componente y su funcion en el sistema. <strong>Componente 2:</strong> Explicacion detallada. <strong>Componente 3:</strong> Descripcion tecnica pero accesible.</p><p>Parrafo adicional con mas detalles tecnicos.</p>\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Ventajas de Rentar [Servicio] Profesional vs Comprar\",\n      \"contenido\": \"<p>Introduccion sobre la decision de renta (3-4 oraciones).</p>\",\n      \"subsecciones\": [\n        {\n          \"h3\": \"Beneficios Economicos de la Renta\",\n          \"contenido\": \"<p><strong>Acceso a Equipamiento Premium:</strong> Explicacion de 2-3 oraciones sobre esta ventaja. <strong>Sin Preocupaciones de Mantenimiento:</strong> Explicacion detallada. <strong>Sin Necesidad de Almacenamiento:</strong> Desarrollo del punto.</p>\"\n        },\n        {\n          \"h3\": \"Ventajas Tecnicas y Logisticas\",\n          \"contenido\": \"<p><strong>Instalacion Profesional Incluida:</strong> Explicacion completa. <strong>Equipo de Respaldo:</strong> Detalle sobre respaldos. <strong>Actualizacion Tecnologica:</strong> Explicacion sobre tecnologia actualizada.</p>\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Eventos Ideales para [Servicio]\",\n      \"contenido\": \"<p>Introduccion sobre versatilidad (2-3 oraciones).</p>\",\n      \"subsecciones\": [\n        {\n          \"h3\": \"Bodas y Celebraciones Romanticas\",\n          \"contenido\": \"<p>Parrafo extenso sobre uso en bodas con detalles especificos (5-6 oraciones).</p><p>Parrafo sobre configuraciones tipicas y beneficios (4-5 oraciones).</p>\"\n        },\n        {\n          \"h3\": \"Eventos Corporativos y Lanzamientos\",\n          \"contenido\": \"<p>Parrafo sobre aplicacion corporativa (4-5 oraciones).</p>\"\n        },\n        {\n          \"h3\": \"XV Anos y Celebraciones Familiares\",\n          \"contenido\": \"<p>Parrafo sobre uso en XV anos y eventos familiares (4-5 oraciones).</p>\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Proceso Profesional de Instalacion\",\n      \"contenido\": \"<p>Introduccion al proceso (2-3 oraciones).</p>\",\n      \"subsecciones\": [\n        {\n          \"h3\": \"Visita Tecnica al Venue\",\n          \"contenido\": \"<p><strong>Evaluacion de Infraestructura:</strong> Detalle del proceso. <strong>Analisis de Espacios:</strong> Explicacion. <strong>Planificacion Logistica:</strong> Desarrollo.</p>\"\n        },\n        {\n          \"h3\": \"Instalacion el Dia del Evento\",\n          \"contenido\": \"<p>Descripcion detallada del proceso de instalacion profesional (4-5 oraciones).</p><p>Parrafo sobre tecnico de guardia y respaldos (3-4 oraciones).</p>\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Por Que ${e.nombre} es tu Mejor Opcion en ${e.cobertura}\",\n      \"contenido\": \"<p>Introduccion sobre diferenciadores (2-3 oraciones).</p>\",\n      \"subsecciones\": [\n        {\n          \"h3\": \"Experiencia Comprobada: ${e.experiencia}, ${e.eventosRealizados} Eventos\",\n          \"contenido\": \"<p>Parrafo sobre trayectoria y especializacion (4-5 oraciones).</p>\"\n        },\n        {\n          \"h3\": \"Equipamiento Premium de Ultima Generacion\",\n          \"contenido\": \"<p>Parrafo sobre calidad del equipo (4-5 oraciones).</p>\"\n        },\n        {\n          \"h3\": \"Servicio Integral con Garantia Total\",\n          \"contenido\": \"<p>Parrafo sobre servicio completo e instalacion incluida (4-5 oraciones).</p>\"\n        }\n      ]\n    },\n    {\n      \"h2\": \"Consejos de Experto para Maximizar Resultados\",\n      \"contenido\": \"<p>Introduccion a consejos profesionales (2 oraciones).</p>\",\n      \"subsecciones\": [\n        {\n          \"h3\": \"Consideraciones Tecnicas Importantes\",\n          \"contenido\": \"<p><strong>Consejo 1:</strong> Explicacion practica. <strong>Consejo 2:</strong> Detalle util. <strong>Consejo 3:</strong> Recomendacion profesional.</p>\"\n        }\n      ]\n    }\n  ],\n  \"ctaTitulo\": \"Transforma tu Evento con [Servicio] Profesional\",\n  \"ctaParrafo1\": \"Listo para [beneficio principal]? Nuestro equipo de especialistas esta disponible para asesorarte sin compromiso y disenar la configuracion perfecta para tu celebracion.\",\n  \"ctaParrafo2\": \"Con mas de ${e.experiencia} transformando eventos ordinarios en experiencias extraordinarias, ${e.nombre} es tu socio de confianza para [servicio] profesional en ${e.cobertura}.\"\n}`;\n\nconst chatGPTBody = {\n  model: \"gpt-4o\",\n  messages: [\n    { role: \"system\", content: promptSistema },\n    { role: \"user\", content: promptUsuario }\n  ],\n  temperature: 0.7,\n  max_tokens: 8000,\n  response_format: { type: \"json_object\" }\n};\n\nreturn [{json: {...data, chatGPTBody: chatGPTBody}}];"
      },
      "id": "d5a13764-11ba-438d-a784-632d4ff11c8b",
      "name": "Constructor Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.chatGPTBody }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "65eaca11-96ad-4445-83b1-5aa66f85c19b",
      "name": "ChatGPT API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "const respuesta = $input.first().json;\nconst dataOriginal = $('Constructor Prompt').first().json;\n\nlet contenido;\ntry {\n  let texto = respuesta.choices[0].message.content;\n  texto = texto.replace(/```json\\n?/gi, '').replace(/```\\n?/gi, '').trim();\n  contenido = JSON.parse(texto);\n} catch (e) {\n  throw new Error('Error parseando respuesta de ChatGPT: ' + e.message);\n}\n\nconst camposRequeridos = ['titulo', 'metaDescription', 'heroTitle', 'heroSubtitle', 'introParrafo1', 'introParrafo2', 'secciones', 'ctaTitulo'];\nfor (const campo of camposRequeridos) {\n  if (!contenido[campo]) {\n    throw new Error('Falta campo requerido: ' + campo);\n  }\n}\n\nif (!contenido.secciones || contenido.secciones.length < 5) {\n  throw new Error('Se requieren minimo 5 secciones de contenido');\n}\n\nreturn [{json: {...dataOriginal, contenido: contenido}}];"
      },
      "id": "f21320d8-fabd-411f-9a79-da6a84d8fd32",
      "name": "Validar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst s = data.servicio;\n\n// Prompt PROFESIONAL para imagen hiperrealista de fotografo profesional\nconst dallePrompt = `Award-winning professional event photography: ${s.imagenContexto}. Shot with Sony A7R IV, 85mm f/1.4 GM lens, natural golden hour lighting, shallow depth of field with beautiful bokeh. The image shows a real Mexican luxury event venue with elegant decorations. Ultra high resolution, 8K quality, photojournalistic style, no artificial elements, authentic candid moment. Magazine quality editorial photography suitable for a professional events company portfolio.`;\n\nconst dalleBody = {\n  model: \"dall-e-3\",\n  prompt: dallePrompt,\n  n: 1,\n  size: \"1792x1024\",\n  quality: \"hd\",\n  style: \"natural\"\n};\n\nreturn [{json: {...data, dalleBody: dalleBody, dallePrompt: dallePrompt}}];"
      },
      "id": "90917a12-dffe-45f4-ab1c-8012969b3b67",
      "name": "Constructor DALL-E Pro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.dalleBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "15c6b11a-5cd4-40ca-8947-5d02759792ca",
      "name": "DALL-E 3 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        500
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 15000
    },
    {
      "parameters": {
        "jsCode": "const dalleResponse = $input.first().json;\nconst dataOriginal = $('Constructor DALL-E Pro').first().json;\n\nif (!dalleResponse.data || !dalleResponse.data[0] || !dalleResponse.data[0].url) {\n  throw new Error('DALL-E no devolvio imagen valida');\n}\n\nreturn [{json: {...dataOriginal, imagenUrl: dalleResponse.data[0].url}}];"
      },
      "id": "d577b13d-f72c-4911-8c11-8427ad8fe45c",
      "name": "Validar DALL-E",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imagenUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 60000
        }
      },
      "id": "5127c919-8ebb-48e2-89c2-26ddc1d23cfc",
      "name": "Descargar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst dataOriginal = $('Validar DALL-E').first().json;\n\nreturn [{\n  json: dataOriginal,\n  binary: {\n    data: {\n      data: input.binary.data.data,\n      mimeType: 'image/webp',\n      fileName: dataOriginal.imagenFilename\n    }\n  }\n}];"
      },
      "id": "77d1f3ca-1613-4b61-b92a-db8ef2008071",
      "name": "Preparar Imagen FTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/website_d2c4cb8e/img/blog/{{ $json.imagenFilename }}"
      },
      "id": "8a4f834e-10fe-43e4-97b7-343f3c62c3f3",
      "name": "FTP Subir Imagen",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        800,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "ftp": {
          "id": "ftp-resoil",
          "name": "FTP RESOIL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst s = data.servicio;\nconst c = data.contenido;\nconst e = data.empresa;\nconst imgPath = '../img/blog/' + data.imagenFilename;\nconst imgUrl = data.baseUrl + '/img/blog/' + data.imagenFilename;\nconst articleUrl = data.baseUrl + '/blog/' + data.filename;\nconst whatsappMsg = encodeURIComponent('Hola, me interesa informacion sobre ' + s.nombre + ' para mi evento');\n\n// Construir secciones HTML con formato de parrafos (NO listas)\nlet seccionesHTML = '';\nif (c.secciones && c.secciones.length > 0) {\n  c.secciones.forEach(sec => {\n    seccionesHTML += `            <section class=\"article-section\">\\n              <h2>${sec.h2}</h2>\\n\\n${sec.contenido}\\n`;\n    if (sec.subsecciones && sec.subsecciones.length > 0) {\n      sec.subsecciones.forEach(sub => {\n        seccionesHTML += `\\n              <h3>${sub.h3}</h3>\\n\\n${sub.contenido}\\n`;\n      });\n    }\n    seccionesHTML += `            </section>\\n\\n`;\n  });\n}\n\n// Construir servicios relacionados para sidebar\nlet serviciosRelHTML = '';\nif (s.serviciosRelacionados && s.serviciosRelacionados.length > 0) {\n  s.serviciosRelacionados.forEach(srv => {\n    serviciosRelHTML += `                <li><a href=\"${srv.url}\">${srv.nombre}</a></li>\\n`;\n  });\n}\n\n// Construir articulos relacionados\nlet articulosRelHTML = '';\nif (s.articulosRelacionados && s.articulosRelacionados.length > 0) {\n  s.articulosRelacionados.forEach(art => {\n    articulosRelHTML += `\n            <article class=\"related-article-card\">\n              <div class=\"related-article-content\">\n                <div class=\"related-article-category\">${art.categoria}</div>\n                <h3 class=\"related-article-title\">\n                  <a href=\"${art.url}\">${art.titulo}</a>\n                </h3>\n                <p class=\"related-article-excerpt\">\n                  ${art.extracto}\n                </p>\n                <a href=\"${art.url}\" class=\"related-article-link\">\n                  Leer articulo →\n                </a>\n              </div>\n            </article>\\n`;\n  });\n}\n\nconst breadcrumbName = c.breadcrumbName || s.nombre;\n\n// HTML HOMOLOGADO - Estructura exacta de guirnaldas-luces-vintage-eventos.html\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>${c.titulo}</title>\n    <meta\n      name=\"description\"\n      content=\"${c.metaDescription}\"\n    />\n    <meta\n      name=\"keywords\"\n      content=\"${c.metaKeywords || s.keywords.join(', ')}\"\n    />\n\n    <!-- Open Graph Meta Tags -->\n    <meta\n      property=\"og:title\"\n      content=\"${c.titulo}\"\n    />\n    <meta\n      property=\"og:description\"\n      content=\"${c.metaDescription}\"\n    />\n    <meta property=\"og:type\" content=\"article\" />\n    <meta property=\"og:url\" content=\"${articleUrl}\" />\n    <meta property=\"og:image\" content=\"${imgUrl}\" />\n\n    <!-- Twitter Card Meta Tags -->\n    <meta name=\"twitter:card\" content=\"summary_large_image\" />\n    <meta name=\"twitter:title\" content=\"${c.titulo}\" />\n    <meta name=\"twitter:description\" content=\"${c.metaDescription}\" />\n\n    <!-- Canonical URL -->\n    <link rel=\"canonical\" href=\"${articleUrl}\" />\n\n    <!-- Favicon -->\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\" />\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"/favicon-32x32.png\" />\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"/favicon-16x16.png\" />\n    <link rel=\"manifest\" href=\"/site.webmanifest\" />\n\n    <!-- Styles -->\n    <link rel=\"preload\" href=\"../css/style.css\" as=\"style\" onload=\"this.onload=null;this.rel='stylesheet'\"><noscript><link rel=\"stylesheet\" href=\"../css/style.css\"></noscript>\n\n    <!-- Estilos para Imagen Destacada -->\n    <style>\n      .article-featured-image { padding: 2rem 0; background: #f8f9fa; }\n      .featured-image-wrapper { max-width: 900px; margin: 0 auto; text-align: center; }\n      .featured-image { width: 100%; max-width: 800px; height: auto; border-radius: 12px; box-shadow: 0 8px 30px rgba(0,0,0,0.12); }\n      .featured-image-wrapper figcaption { margin-top: 1rem; font-size: 0.9rem; color: #666; font-style: italic; }\n    </style>\n\n    <!-- Schema.org Article Markup -->\n    <script type=\"application/ld+json\">\n    {\n      \"@context\": \"https://schema.org\",\n      \"@type\": \"Article\",\n      \"headline\": \"${c.heroTitle}\",\n      \"description\": \"${c.metaDescription}\",\n      \"image\": \"${imgUrl}\",\n      \"author\": {\n        \"@type\": \"Organization\",\n        \"name\": \"RESOIL - Renta de Sonido e Iluminacion\",\n        \"url\": \"${data.baseUrl}\"\n      },\n      \"publisher\": {\n        \"@type\": \"Organization\",\n        \"name\": \"RESOIL\",\n        \"logo\": {\n          \"@type\": \"ImageObject\",\n          \"url\": \"${data.baseUrl}/img/logo.webp\"\n        }\n      }\n    }\n    </script>\n  </head>\n\n  <body>\n    <!-- Header -->\n    <header class=\"header\">\n      <nav class=\"navbar\">\n        <div class=\"nav-container\">\n          <!-- Logo -->\n          <div class=\"nav-logo\">\n            <a href=\"https://rentadesonidoeiluminacion.com.mx/\" class=\"logo-link\">\n              <img\n                src=\"../img/img-index/renta-de-sonido-e-iluminacion.webp\"\n                alt=\"Renta de Sonido e Iluminacion - Logo\"\n                class=\"logo-img\"\n              />\n            </a>\n          </div>\n\n          <!-- Navegacion Principal -->\n          <nav class=\"main-nav\">\n            <ul class=\"nav-list\" id=\"nav-list\">\n              <li class=\"nav-item has-dropdown\">\n                <a href=\"../servicios.html\" class=\"nav-link\"\n                  >Servicios <span class=\"dropdown-icon\">▼</span></a\n                >\n                <ul class=\"dropdown-content\">\n                  <li>\n                    <a href=\"../servicios.html\" class=\"dropdown-link\"\n                      >Todos los Servicios</a\n                    >\n                  </li>\n                  <li class=\"has-submenu\">\n                    <a\n                      href=\"../renta-de-iluminacion.html\"\n                      class=\"dropdown-link submenu-toggle\"\n                      >Iluminacion <span class=\"submenu-icon\">▶</span></a\n                    >\n                    <ul class=\"submenu-content\">\n                      <li>\n                        <a href=\"../renta-de-iluminacion.html\" class=\"submenu-link\"\n                          ><strong>Ver Todos los Servicios</strong></a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../iluminacion/guirnaldas.html\" class=\"submenu-link\"\n                          >Guirnaldas LED</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../iluminacion/luces-neon.html\" class=\"submenu-link\"\n                          >Luces Neon</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../iluminacion/sky-tracker.html\" class=\"submenu-link\"\n                          >Sky Tracker</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../iluminacion/luces-arquitectonicas.html\" class=\"submenu-link\"\n                          >Luces Arquitectonicas</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../iluminacion/cascadas-led.html\" class=\"submenu-link\"\n                          >Cascadas LED</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../iluminacion/proyector-de-gobos.html\" class=\"submenu-link\"\n                          >Proyector de Gobos</a\n                        >\n                      </li>\n                    </ul>\n                  </li>\n                  <li class=\"has-submenu\">\n                    <a\n                      href=\"../renta-de-sonido.html\"\n                      class=\"dropdown-link submenu-toggle\"\n                      >Sonido <span class=\"submenu-icon\">▶</span></a\n                    >\n                    <ul class=\"submenu-content\">\n                      <li>\n                        <a href=\"../renta-de-sonido.html\" class=\"submenu-link\"\n                          ><strong>Ver Todos los Servicios</strong></a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../sonido/bocinas-bodas.html\" class=\"submenu-link\"\n                          >Bocinas para Bodas</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../sonido/bocinas-xv-anos.html\" class=\"submenu-link\"\n                          >Bocinas para XV Anos</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../sonido/bocinas-fiestas.html\" class=\"submenu-link\"\n                          >Bocinas para Fiestas</a\n                        >\n                      </li>\n                    </ul>\n                  </li>\n                  <li class=\"has-submenu\">\n                    <a\n                      href=\"../equipos.html\"\n                      class=\"dropdown-link submenu-toggle\"\n                      >Equipos <span class=\"submenu-icon\">▶</span></a\n                    >\n                    <ul class=\"submenu-content\">\n                      <li>\n                        <a href=\"../equipos.html\" class=\"submenu-link\"\n                          ><strong>Ver Todos los Servicios</strong></a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/bolas-disco.html\" class=\"submenu-link\"\n                          >Bolas Disco</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/maquina-de-confeti.html\" class=\"submenu-link\"\n                          >Maquina de Confeti</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/renta-de-podium.html\" class=\"submenu-link\"\n                          >Renta de Podium</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/pantalla-inflable.html\" class=\"submenu-link\"\n                          >Pantalla Inflable</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/maquina-de-humo.html\" class=\"submenu-link\"\n                          >Maquina de Humo</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/maquina-de-burbujas.html\" class=\"submenu-link\"\n                          >Maquina de Burbujas</a\n                        >\n                      </li>\n                      <li>\n                        <a href=\"../equipos/humo-bajo.html\" class=\"submenu-link\">Humo Bajo</a>\n                      </li>\n                      <li>\n                        <a href=\"../equipos/mesas-picnic.html\" class=\"submenu-link\">Mesas Picnic</a>\n                      </li>\n                      <li>\n                        <a href=\"../equipos/carpas-para-eventos.html\" class=\"submenu-link\">Carpas para Eventos</a>\n                      </li>\n                    </ul>\n                  </li>\n                </ul>\n              </li>\n              <li class=\"nav-item\">\n                <a href=\"../nosotros.html\" class=\"nav-link\">Nosotros</a>\n              </li>\n              <li class=\"nav-item\">\n                <a href=\"../blog.html\" class=\"nav-link active\">Blog</a>\n              </li>\n              <li class=\"nav-item\">\n                <a href=\"../contacto.html\" class=\"nav-link\">Contacto</a>\n              </li>\n            </ul>\n\n            <!-- Boton hamburguesa para moviles -->\n            <button\n              class=\"mobile-menu-btn\"\n              id=\"mobile-menu-btn\"\n              aria-label=\"Abrir menu\"\n            >\n              <span class=\"hamburger-line\"></span>\n              <span class=\"hamburger-line\"></span>\n              <span class=\"hamburger-line\"></span>\n            </button>\n          </nav>\n        </div>\n      </nav>\n    </header>\n\n    <!-- Main Content -->\n    <!-- Breadcrumbs -->\n    <div class=\"breadcrumb-container\">\n      <div class=\"container\">\n        <nav class=\"breadcrumb\" aria-label=\"Migas de pan\">\n          <a href=\"../index.html\">Inicio</a>\n          <span class=\"breadcrumb-separator\">›</span>\n          <a href=\"../blog.html\">Blog</a>\n          <span class=\"breadcrumb-separator\">›</span>\n          <span class=\"breadcrumb-current\">${breadcrumbName}</span>\n        </nav>\n      </div>\n    </div>\n\n\n    <main class=\"main-content\">\n      <!-- Article Hero -->\n      <section class=\"article-hero\">\n        <div class=\"container\">\n          <h1 class=\"article-title\">${c.heroTitle}</h1>\n          <p class=\"article-subtitle\">\n            ${c.heroSubtitle}\n          </p>\n        </div>\n      </section>\n\n      <!-- Imagen Destacada del Articulo -->\n      <section class=\"article-featured-image\">\n        <div class=\"container\">\n          <figure class=\"featured-image-wrapper\">\n            <img\n              src=\"${imgPath}\"\n              alt=\"${s.nombreCompleto} - RESOIL\"\n              class=\"featured-image\"\n              loading=\"eager\"\n            />\n            <figcaption>${s.nombreCompleto} - RESOIL</figcaption>\n          </figure>\n        </div>\n      </section>\n\n      <!-- Article Content -->\n      <article class=\"article-content\">\n        <div class=\"container\">\n          <div class=\"article-body\">\n\n            <!-- Introduccion -->\n            <section class=\"article-section\">\n              ${c.introParrafo1}\n\n              ${c.introParrafo2}\n            </section>\n\n${seccionesHTML}\n\n            <!-- Galeria de Imagenes -->\n            <section class=\"article-section\">\n              <h2>Galeria de Instalaciones Profesionales</h2>\n              <p>\n                Ejemplos de nuestras instalaciones de ${s.nombre.toLowerCase()} en diferentes tipos de eventos en CDMX y Estado de Mexico.\n              </p>\n\n              <div class=\"article-gallery\">\n                <div class=\"article-gallery-item\">\n                  <img src=\"../img/img-index/referencia.webp\" alt=\"${s.nombre} en boda elegante CDMX\" />\n                </div>\n                <div class=\"article-gallery-item\">\n                  <img src=\"../img/img-index/referencia.webp\" alt=\"${s.nombre} para evento corporativo\" />\n                </div>\n                <div class=\"article-gallery-item\">\n                  <img src=\"../img/img-index/referencia.webp\" alt=\"${s.nombre} en XV anos\" />\n                </div>\n                <div class=\"article-gallery-item\">\n                  <img src=\"../img/img-index/referencia.webp\" alt=\"Instalacion profesional de ${s.nombre}\" />\n                </div>\n                <div class=\"article-gallery-item\">\n                  <img src=\"../img/img-index/referencia.webp\" alt=\"${s.nombre} en jardin de eventos\" />\n                </div>\n                <div class=\"article-gallery-item\">\n                  <img src=\"../img/img-index/referencia.webp\" alt=\"${s.nombre} RESOIL profesional\" />\n                </div>\n              </div>\n            </section>\n\n            <!-- CTA Final -->\n            <section class=\"article-section article-cta\">\n              <h2>${c.ctaTitulo}</h2>\n\n              <p>\n                ${c.ctaParrafo1}\n              </p>\n\n              <p>\n                ${c.ctaParrafo2}\n              </p>\n\n              <div class=\"article-cta-buttons\">\n                <a\n                  href=\"https://wa.me/${data.whatsappNumber}?text=${whatsappMsg}\"\n                  class=\"cta-btn primary\"\n                  target=\"_blank\"\n                  rel=\"noopener noreferrer\"\n                >\n                  Cotizar por WhatsApp\n                </a>\n                <a href=\"../contacto.html\" class=\"cta-btn secondary\">\n                  Solicitar Cotizacion Detallada\n                </a>\n              </div>\n            </section>\n\n          </div>\n\n          <!-- Sidebar con Informacion Adicional -->\n          <aside class=\"article-sidebar\">\n            <div class=\"sidebar-box\">\n              <h3>Informacion Rapida</h3>\n              <ul class=\"sidebar-list\">\n                <li><strong>Cobertura:</strong> CDMX y Estado de Mexico</li>\n                <li><strong>Disponibilidad:</strong> 365 dias al ano</li>\n                <li><strong>Instalacion:</strong> Siempre incluida</li>\n                <li><strong>Tiempo de respuesta:</strong> &lt;24 horas</li>\n                <li><strong>Experiencia:</strong> ${e.experiencia}, ${e.eventosRealizados} eventos</li>\n              </ul>\n            </div>\n\n            <div class=\"sidebar-box\">\n              <h3>Servicios Relacionados</h3>\n              <ul class=\"sidebar-links\">\n${serviciosRelHTML}\n              </ul>\n            </div>\n\n            <div class=\"sidebar-box sidebar-cta\">\n              <h3>¿Necesitas Asesoria?</h3>\n              <p>Nuestros expertos estan disponibles para ayudarte a planear ${s.nombre.toLowerCase()} perfecto para tu evento.</p>\n              <a\n                href=\"https://wa.me/${data.whatsappNumber}?text=${encodeURIComponent('Necesito asesoria sobre ' + s.nombre + ' para mi evento')}\"\n                class=\"sidebar-cta-btn\"\n                target=\"_blank\"\n                rel=\"noopener noreferrer\"\n              >\n                Contactar Experto\n              </a>\n            </div>\n          </aside>\n\n        </div>\n      </article>\n\n      <!-- Articulos Relacionados -->\n      <section class=\"related-articles-section\">\n        <div class=\"container\">\n          <div class=\"section-header\">\n            <h2>ARTICULOS RELACIONADOS</h2>\n            <p class=\"section-subtitle\">\n              Continua aprendiendo sobre ${s.categoria.toLowerCase()} profesional para eventos\n            </p>\n          </div>\n\n          <div class=\"related-articles-grid\">\n${articulosRelHTML}\n          </div>\n\n          <div class=\"related-articles-cta\">\n            <a href=\"../blog.html\" class=\"related-articles-button\">Ver Todos los Articulos</a>\n          </div>\n        </div>\n      </section>\n\n    </main>\n\n    <!-- Footer -->\n    <footer class=\"footer\">\n      <div class=\"footer-container\">\n        <!-- Informacion de contacto -->\n        <div class=\"footer-section\">\n          <h3 class=\"footer-title\">RENTA DE SONIDO E ILUMINACION</h3>\n          <p class=\"footer-description\">\n            Especialistas en renta de equipos de sonido e iluminacion profesional para todo tipo de eventos en Ciudad de Mexico.\n          </p>\n        </div>\n\n        <!-- Enlaces rapidos -->\n        <div class=\"footer-section\">\n          <h4 class=\"footer-subtitle\">Enlaces Rapidos</h4>\n          <ul class=\"footer-links\">\n            <li><a href=\"../index.html#inicio\">Inicio</a></li>\n            <li><a href=\"../servicios.html\">Servicios</a></li>\n            <li><a href=\"../nosotros.html\">Nosotros</a></li>\n            <li><a href=\"../equipos.html\">Equipos</a></li>\n            <li><a href=\"../blog.html\">Blog</a></li>\n            <li><a href=\"../contacto.html\">Contacto</a></li>\n          </ul>\n        </div>\n\n        <!-- Servicios de Iluminacion -->\n        <div class=\"footer-section\">\n          <h4 class=\"footer-subtitle\">Iluminacion Profesional</h4>\n          <ul class=\"footer-links\">\n            <li><a href=\"../renta-de-iluminacion.html\"><strong>Todos los Servicios</strong></a></li>\n            <li><a href=\"../iluminacion/guirnaldas.html\">Guirnaldas LED</a></li>\n            <li><a href=\"../iluminacion/luces-neon.html\">Luces Neon</a></li>\n            <li><a href=\"../iluminacion/sky-tracker.html\">Sky Tracker</a></li>\n            <li><a href=\"../iluminacion/luces-arquitectonicas.html\">Luces Arquitectonicas</a></li>\n          </ul>\n        </div>\n\n        <!-- Servicios de Sonido -->\n        <div class=\"footer-section\">\n          <h4 class=\"footer-subtitle\">Sonido Profesional</h4>\n          <ul class=\"footer-links\">\n            <li><a href=\"../renta-de-sonido.html\"><strong>Todos los Servicios</strong></a></li>\n            <li><a href=\"../sonido/bocinas-bodas.html\">Bocinas para Bodas</a></li>\n            <li><a href=\"../sonido/bocinas-xv-anos.html\">Bocinas para XV Anos</a></li>\n            <li><a href=\"../sonido/bocinas-fiestas.html\">Bocinas para Fiestas</a></li>\n          </ul>\n        </div>\n\n        <!-- Contacto -->\n        <div class=\"footer-section\">\n          <h4 class=\"footer-subtitle\">Informacion de Contacto</h4>\n          <div class=\"footer-contact\">\n            <p>\n              Montecito 38, Napoles<br />Benito Juarez, 03810<br />Ciudad de Mexico, CDMX\n            </p>\n            <p>\n              <strong>WhatsApp:</strong>\n              <a href=\"https://wa.me/${data.whatsappNumber}\" target=\"_blank\" rel=\"noopener noreferrer\">\n                ${e.telefono}\n              </a>\n            </p>\n            <p>\n              <strong>Email:</strong>\n              <a href=\"mailto:${e.email}\"\n                >${e.email}</a\n              >\n            </p>\n          </div>\n        </div>\n      </div>\n    </footer>\n\n    <!-- Scripts -->\n\n    <!-- Boton Flotante de WhatsApp -->\n    <div class=\"whatsapp-float\">\n      <a href=\"https://wa.me/${data.whatsappNumber}?text=Hola,%20me%20interesa%20cotizar%20un%20servicio%20de%20sonido%20e%20iluminacion\" target=\"_blank\" rel=\"noopener noreferrer\" aria-label=\"Contactar por WhatsApp\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\">\n          <path d=\"M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z\"/>\n        </svg>\n      </a>\n      <span class=\"tooltip\">¡Chatea con nosotros!</span>\n    </div>\n\n    <script src=\"../js/app.js\" defer></script>\n  </body>\n</html>`;\n\n// Card para blog.html\nconst card = `\n            <article class=\"blog-card\" data-slug=\"${data.slugFinal}\">\n              <div class=\"blog-card-image\">\n                <a href=\"blog/${data.filename}\">\n                  <img src=\"img/blog/${data.imagenFilename}\" alt=\"${s.nombreCompleto}\" loading=\"lazy\">\n                  <span class=\"blog-badge\">NUEVO</span>\n                </a>\n              </div>\n              <div class=\"blog-card-content\">\n                <div class=\"blog-card-category\">${s.categoria}</div>\n                <h3 class=\"blog-card-title\">\n                  <a href=\"blog/${data.filename}\">${c.heroTitle}</a>\n                </h3>\n                <p class=\"blog-card-excerpt\">${c.metaDescription}</p>\n                <div class=\"blog-card-meta\">\n                  <span class=\"blog-read-time\">8 min lectura</span>\n                  <span class=\"blog-topic\">${s.eventos.slice(0,3).join(' • ')}</span>\n                </div>\n                <a href=\"blog/${data.filename}\" class=\"blog-card-button\">LEER ARTICULO</a>\n              </div>\n            </article>\n`;\n\nreturn [{json: {...data, htmlArticulo: html, cardHTML: card}}];"
      },
      "id": "52c32c51-8b76-4f98-9391-9f8e664adf2d",
      "name": "Generar HTML Homologado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst buffer = Buffer.from(data.htmlArticulo, 'utf-8');\n\nreturn [{\n  json: data,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: data.filename\n    }\n  }\n}];"
      },
      "id": "20ec1151-cb4b-4948-ae1a-3db3543b82d7",
      "name": "Preparar HTML FTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/website_d2c4cb8e/blog/{{ $json.filename }}"
      },
      "id": "3f8422d7-0159-48ee-960d-e3f53d8c88e1",
      "name": "FTP Subir Articulo",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1520,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "ftp": {
          "id": "ftp-resoil",
          "name": "FTP RESOIL"
        }
      }
    },
    {
      "parameters": {
        "path": "/website_d2c4cb8e/blog.html",
        "options": {}
      },
      "id": "71cd5986-f58d-4ea0-a9a5-14c6c462aad2",
      "name": "FTP Descargar Blog",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1760,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "ftp": {
          "id": "ftp-resoil",
          "name": "FTP RESOIL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst dataArticulo = $('Generar HTML Homologado').first().json;\n\nlet blogHTML = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nif (blogHTML.includes('data-slug=\"' + dataArticulo.slugFinal + '\"')) {\n  return [{\n    json: {...dataArticulo, blogUpdated: false, mensaje: 'Card ya existia - no duplicada'},\n    binary: {\n      data: {\n        data: Buffer.from(blogHTML, 'utf-8').toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'blog.html'\n      }\n    }\n  }];\n}\n\nblogHTML = blogHTML.replace(/<span class=\"blog-badge\">NUEVO<\\/span>/gi, '');\n\nconst marker = '<div class=\"blog-grid\">';\nconst idx = blogHTML.indexOf(marker);\nif (idx === -1) {\n  throw new Error('No se encontro el contenedor blog-grid en blog.html');\n}\n\nconst insertPos = idx + marker.length;\nblogHTML = blogHTML.slice(0, insertPos) + '\\n' + dataArticulo.cardHTML + blogHTML.slice(insertPos);\n\nreturn [{\n  json: {...dataArticulo, blogUpdated: true, mensaje: 'Card insertada exitosamente'},\n  binary: {\n    data: {\n      data: Buffer.from(blogHTML, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'blog.html'\n    }\n  }\n}];"
      },
      "id": "533094aa-d7d7-4305-b375-60470742a2a2",
      "name": "Insertar Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "/website_d2c4cb8e/blog.html"
      },
      "id": "46f51b37-cd01-4112-8094-8357beee4b31",
      "name": "FTP Subir Blog",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        2240,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "ftp": {
          "id": "ftp-resoil",
          "name": "FTP RESOIL"
        }
      }
    },
    {
      "parameters": {
        "chatId": "772938445",
        "text": "=✅ *ARTICULO HOMOLOGADO PUBLICADO*\n\n📝 *{{ $json.contenido.titulo }}*\n\n🏷️ {{ $json.servicio.categoria }} | {{ $json.servicio.nombre }}\n\n🖼️ {{ $json.imagenFilename }}\n📄 {{ $json.filename }}\n\n🔗 {{ $json.baseUrl }}/blog/{{ $json.filename }}\n\n📊 {{ $json.mensaje }}\n\n✨ *Estructura Homologada:*\n• Sin breadcrumb duplicado en hero\n• Imagen destacada profesional\n• Contenido en parrafos fluidos\n• Sidebar completo\n• Footer profesional\n• Sin fechas ni precios\n\n🤖 RESOIL v13 Homologado",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "6e080266-76c4-48c3-9766-2049fcee4596",
      "name": "Telegram Notificacion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-resoil",
          "name": "Telegram Bot RESOIL"
        }
      }
    }
  ],
  "connections": {
    "Cada 4 Dias": {
      "main": [
        [
          {
            "node": "Selector Servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Manual": {
      "main": [
        [
          {
            "node": "Selector Servicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selector Servicio": {
      "main": [
        [
          {
            "node": "Constructor Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor Prompt": {
      "main": [
        [
          {
            "node": "ChatGPT API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT API": {
      "main": [
        [
          {
            "node": "Validar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Respuesta": {
      "main": [
        [
          {
            "node": "Constructor DALL-E Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Constructor DALL-E Pro": {
      "main": [
        [
          {
            "node": "DALL-E 3 API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL-E 3 API": {
      "main": [
        [
          {
            "node": "Validar DALL-E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar DALL-E": {
      "main": [
        [
          {
            "node": "Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen": {
      "main": [
        [
          {
            "node": "Preparar Imagen FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Imagen FTP": {
      "main": [
        [
          {
            "node": "FTP Subir Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Subir Imagen": {
      "main": [
        [
          {
            "node": "Generar HTML Homologado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Homologado": {
      "main": [
        [
          {
            "node": "Preparar HTML FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar HTML FTP": {
      "main": [
        [
          {
            "node": "FTP Subir Articulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Subir Articulo": {
      "main": [
        [
          {
            "node": "FTP Descargar Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Descargar Blog": {
      "main": [
        [
          {
            "node": "Insertar Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Card": {
      "main": [
        [
          {
            "node": "FTP Subir Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Subir Blog": {
      "main": [
        [
          {
            "node": "Telegram Notificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "572fd7c66400f7bf7ea53b24112cd88f69fabbb31d14d753a85ed8e59bfded7b"
  }
}
